<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <h1>Product Register</h1>
        <form method="get" action="https://localhost:8080/api/prod">
            <div>
                <input type="text" name="name" placeholder="Name">
            </div>

            <div>
                <input type="text" name="price" placeholder="Price">
            </div>
            <div>
                <button>
                    Register
                </button>
            </div>
        </form>
    </body>
</html>