<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Register</title>
        <!--===============================================================================================-->	
            <link rel="icon" type="image/png" href="./images/icons/favicon.ico"/>
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="./vendor/bootstrap/css/bootstrap.min.css">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="./fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="./vendor/animate/animate.css">
        <!--===============================================================================================-->	
            <link rel="stylesheet" type="text/css" href="./vendor/css-hamburgers/hamburgers.min.css">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="./vendor/animsition/css/animsition.min.css">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="./vendor/select2/select2.min.css">
        <!--===============================================================================================-->	
            <link rel="stylesheet" type="text/css" href="./vendor/daterangepicker/daterangepicker.css">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="./css/main.css">
        <!--===============================================================================================-->
    </head>
    <body>
        {{!-- <h1>Product Register</h1>
        <form method="POST" action="./prod">
            <div>
                <input type="text" name="name" placeholder="Name">
            </div>
            <div>
                <input type="text" name="price" placeholder="Price">
            </div>
            <div>
                <button>
                    Register
                </button>
            </div>
        </form> --}}

        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <form class="login100-form validate-form p-l-55 p-r-55 p-t-178" method="POST" action="./prod">
                        <span class="login100-form-title">
                            Product Register
                        </span>

                        <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
                            <input class="input100" type="text" name="name" placeholder="Name">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-16" data-validate = "Please enter price">
                            <input class="input100" type="number" name="price" placeholder="Price">
                            <span class="focus-input100"></span>
                        </div>
                        
                        <div class="wrap-input100 validate-input" data-validate="Please enter a file">
                            <input class="input100" type="file" name="file" style="height: auto;">
                        </div>

                        <div class="container-login100-form-btn" style="margin-top: 50px;">
                            <button class="login100-form-btn">
                                Register
                            </button>
                        </div>
                            <br>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>