<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/searchProd.css">
    <title>Search</title>
</head>
<body>
    <h1>Product Search</h1>
    {{#each prod}}
        <div class="aoba">
            <img src={{this.url}} />
            <h2>{{this.name}}</h2>
            <p>{{this.price}}</p>
        </div>
    {{/each}}
</body>
</html>